* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --green-color: #c6fb50;
  --almost-white-color: #f5f5f5;
  --black-color: #232323;
  --dark-background: #1a1a1a;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  color: var(--black-color);
  background: var(--almost-white-color);
  line-height: 1.35;
  margin: 0;
}

::selection {
  background: rgba(209, 246, 19, 0.5);
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  font-family: inherit;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

ul,
ol,
dl {
  margin: 0;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 1719px) {
  .container {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media (min-width: 1720px) {
  .container {
    max-width: 1680px;
  }
}

/* BLURRED LOGO MARQUEE */

.blurred-logo-marquee {
  --speed: 100;
  --count: 12;
  --scale: 1;
  --blur: 1;
  --blurs: 5;

  overflow: hidden;
  width: 100%;
  margin: auto;
  height: 220px;
  padding: 10px 0;
}

@media (max-width: 1200px) {
  .blurred-logo-marquee {
    height: 160px;
  }
}
@media (max-width: 600px) {
  .blurred-logo-marquee {
    height: 140px;
  }
}

.blurred-logo-marquee ul {
  display: flex;
  gap: 16px;
  padding: 0;
  margin: 0;
  list-style-type: none;

  height: 100%;
  width: fit-content;
  padding: 0;
  align-items: center;
  pointer-events: none;
}

.blurred-logo-marquee li {
  height: 200px;
  border: 1px solid #636363;
  border-radius: 20px;
  aspect-ratio: 3 / 2;
  display: grid;
  place-items: center;
  padding: 10px;
}

@media (max-width: 1200px) {
  .blurred-logo-marquee li {
    height: 140px;
  }
}

@media (max-width: 600px) {
  .blurred-logo-marquee li {
    height: 120px;
  }
}

.blurred-logo-marquee li img {
  height: 50px;
  width: auto;
}

@media (max-width: 600px) {
  .blurred-logo-marquee li img {
    height: 40px;
  }
}

[data-play-state='running'] :is(ul, li) {
  animation-play-state: running !important;
}

.marquee-container {
  mask: linear-gradient(90deg, transparent, black 15% 85%, transparent);
  width: 100%;
  display: grid;
  min-height: 100px;
  min-width: 300px;
  position: relative;
  pointer-events: none;
}

.blurred-logo-marquee .mq-blur {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10%;
  z-index: 2;
  pointer-events: none;
}

.blurred-logo-marquee .blur--right {
  right: 0;
}

.blurred-logo-marquee .blur--left {
  left: 0;
  rotate: 180deg;
}

.blurred-logo-marquee .mq-blur div {
  position: absolute;
  inset: 0;
  z-index: var(--index);
  mask: linear-gradient(
    90deg,
    transparent calc(var(--index) * calc((100 / var(--blurs)) * 1%)),
    black calc((var(--index) + 1) * calc((100 / var(--blurs)) * 1%)),
    black calc((var(--index) + 2) * calc((100 / var(--blurs)) * 1%)),
    transparent calc((var(--index) + 3) * calc((100 / var(--blurs)) * 1%))
  );
  backdrop-filter: blur(calc((var(--index, 0) * var(--blur, 0)) * 2px));
}

.blurred-logo-marquee .mq-blur {
  opacity: 0;
}

.blurred-logo-marquee[data-blurring='true'] .mq-blur {
  opacity: 1;
}

@media (prefers-reduced-motion: no-preference) {
  [data-translate='items'] ul {
    gap: 0;
  }
  [data-translate='items'][data-direction='horizontal'].container {
    padding-inline: 0;
  }

  [data-translate='items'] li {
    --duration: calc(var(--speed) * 1s);
    --delay: calc((var(--duration) / var(--count)) * (var(--index, 0) * -1));
    animation: slide var(--duration) var(--delay) infinite linear paused;
    translate: var(--origin-x) var(--origin-y);
  }

  [data-translate='items'][data-direction='horizontal'] li {
    --origin-x: calc(((var(--count) - var(--index)) + var(--inset, 0)) * 100%);
    --origin-y: 0;
    --destination-x: calc(calc((var(--index) + 1 + var(--outset, 0)) * -100%));
    --destination-y: 0;
  }

  .blurred-logo-marquee-reverse[data-translate='items'] li {
    --duration: calc(var(--speed) * 1s);
    --delay: calc((var(--duration) / var(--count)) * (var(--index, 0) * -1));
    animation: slideReverse var(--duration) var(--delay) infinite linear paused;
    translate: var(--destination-x) var(--destination-y);
  }

  @keyframes slide {
    100% {
      translate: var(--destination-x) var(--destination-y);
    }
  }

  @keyframes slideReverse {
    100% {
      translate: var(--origin-x) var(--origin-y);
    }
  }
}

/* SWIPER PAGINATION */

.swiper-pagination {
  --swiper-pagination-bottom: 80px;
  --swiper-pagination-bullet-horizontal-gap: 5px;
  --swiper-pagination-bullet-size: 15px;
  --swiper-pagination-bullet-inactive-color: #000000;
  --swiper-pagination-bullet-inactive-opacity: 0.4;
  --swiper-pagination-color: var(--green-color);
}
